
<div *ngIf="usuario">
    <h2><span>Usuario</span> {{usuario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Codigo</span></dt>
        <dd>
            <span>{{usuario.codigo}}</span>
        </dd>
        <dt><span>Login</span></dt>
        <dd>
            <span>{{usuario.login}}</span>
        </dd>
        <dt><span>Senha</span></dt>
        <dd>
            <span>{{usuario.senha}}</span>
        </dd>
        <dt><span>Nome</span></dt>
        <dd>
            <span>{{usuario.nome}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{usuario.email}}</span>
        </dd>
        <dt><span>Rg</span></dt>
        <dd>
            <span>{{usuario.rg}}</span>
        </dd>
        <dt><span>Cpf</span></dt>
        <dd>
            <span>{{usuario.cpf}}</span>
        </dd>
        <dt><span>Telefone</span></dt>
        <dd>
            <span>{{usuario.telefone}}</span>
        </dd>
        <dt><span>Data Nasc</span></dt>
        <dd>
            <span>{{usuario.dataNasc}}</span>
        </dd>
        <dt><span>Idade</span></dt>
        <dd>
            <span>{{usuario.idade}}</span>
        </dd>
        <dt><span>Permissao</span></dt>
        <dd>
            <div *ngIf="usuario.permissao">
                <a [routerLink]="['/permissao', usuario.permissao?.id]">{{usuario.permissao?.id}}</a>
            </div>
        </dd>
        <dt><span>Aluno</span></dt>
        <dd>
            <div *ngIf="usuario.aluno">
                <a [routerLink]="['/aluno', usuario.aluno?.id]">{{usuario.aluno?.id}}</a>
            </div>
        </dd>
        <dt><span>Professor</span></dt>
        <dd>
            <div *ngIf="usuario.professor">
                <a [routerLink]="['/professor', usuario.professor?.id]">{{usuario.professor?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'usuario/'+ usuario.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
