<div>
    <h2>
        <span>Usuarios</span>
        <button class="btn btn-primary float-right jh-create-entity create-usuario" [routerLink]="['/', { outlets: { popup: ['usuario-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Usuario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="usuarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Codigo</span></th>
            <th><span>Login</span></th>
            <th><span>Senha</span></th>
            <th><span>Nome</span></th>
            <th><span>Email</span></th>
            <th><span>Rg</span></th>
            <th><span>Cpf</span></th>
            <th><span>Telefone</span></th>
            <th><span>Data Nasc</span></th>
            <th><span>Idade</span></th>
            <th><span>Permissao</span></th>
            <th><span>Aluno</span></th>
            <th><span>Professor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let usuario of usuarios ;trackBy: trackId">
                <td><a [routerLink]="['../usuario', usuario.id ]">{{usuario.id}}</a></td>
                <td>{{usuario.codigo}}</td>
                <td>{{usuario.login}}</td>
                <td>{{usuario.senha}}</td>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.rg}}</td>
                <td>{{usuario.cpf}}</td>
                <td>{{usuario.telefone}}</td>
                <td>{{usuario.dataNasc}}</td>
                <td>{{usuario.idade}}</td>
                <td>
                    <div *ngIf="usuario.permissao">
                        <a [routerLink]="['../permissao', usuario.permissao?.id ]" >{{usuario.permissao?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="usuario.aluno">
                        <a [routerLink]="['../aluno', usuario.aluno?.id ]" >{{usuario.aluno?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="usuario.professor">
                        <a [routerLink]="['../professor', usuario.professor?.id ]" >{{usuario.professor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../usuario', usuario.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'usuario/'+ usuario.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'usuario/'+ usuario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
